            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            html,
            body {
                width: 100%;
                height: 100%;
                font-family: 'Monsterrat', 'Open sans', sans-serif;
                font-size: 16px;
            }
            .iw.page {
                width: 100%;
                min-height: 100%;
                display: flex;
            }
            .iw.nav {
                min-width: 55px;
                background: rgb(236, 236, 236);
            }
            .iw.nav .iw.block {
                margin-top: 0.85rem;
            }
            .iw.block {
                width: 100%;
                margin: 1.4rem 0;
            }
            .iw.center {
                text-align: center;
            }
            .iw.icon {
                font-size: 1.5rem;
            }
            .iw.icon.small {
                font-size: 0.6rem;
            }
            .iw.main {
                flex: 1;
            }
            
.iw.header 
{
    margin: 0;
    padding: 0.555rem 2rem;
    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.125), 1px 1px 2px rgba(0, 0, 0, 0.07);*/
    margin-top: 2em;
}
.iw.row 
{
    display: flex;
    align-items: center;
    width: 100%;
}
.iw.header.row 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iw.search 
{
    position: relative;
    color: black;
    width: 80%;
    position: relative;
    
}
.iw.search-icon 
{
    position: absolute;
    right: 0;
    margin-right: 1em;
    margin-top: 0.47em;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iw.search-icon i {
    font-size: 1em;
    color: var(--mainColor);
}
.iw.search input.iw.input
{
    border: 2px solid var(--mainColor);;
    font-size: 0.86rem;
    padding: 0.44rem 0.75rem;
    border-radius: 32px;
    outline: none;
    width: 100%; 
    min-width: 300px;
    padding-right: 2rem;
}
.iw.search input.iw.input + .iw.icon
{
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 2rem;
}
.iw.container {
    max-width: 768px;
    margin: 1rem auto;
    background: rgb(250, 250, 250);
    padding: 1rem 1rem;
}
.iw.block.tiny {
    margin: 1rem 0;
}
.iw.row.item {
    justify-content: space-between;
    background: rgb(255, 255, 255);
    padding: 0.75rem 0.95rem;
    border-radius: 8px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.075);
    margin-bottom: 0.75rem;
}
.iw.row.item .iw.row.detail {
    flex: 1;
}
.iw.row.item .iw.row.detail img.iw.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
    }
.iw.title {
    font-size: 1.35rem;
    font-weight: 500;
    margin: 0;
    color: rgb(116, 130, 255);
}
.iw.sub {
    font-weight: 300;
    margin: 0;
    font-size: 0.8776rem;
}
.iw.sub.small {
    font-size: 0.764rem;
}
.iw.helper {
    font-size: 0.66rem;
    color: rgb(177, 177, 177);
}
.iw.row.item .iw.status {
    /* flex: 0.5; */
    min-width: 200px;
}
.iw.row.item .iw.status .iw.rating {
    margin-bottom: 0.55rem;
}
.iw.row.item .iw.status .iw.rating .iw.value {
    font-size: 1rem;
    background: orange;
    color: white;
    border-radius: 4px;
    padding: 0.12rem 0.33rem;
    display: inline-block;
}
.iw.row.item .iw.status .iw.rating .iw.icon.small {
    font-size: 0.9rem;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
            
        